<<<<<<< HEAD
.create-form{
    top: 150px;
    fill: white;
    color: rgb(199, 191, 191);
    border-style: solid;
    position: absolute;
    margin-left:100px
}

.input-box{
    padding-left: 20px;
=======
label{
    position: relative;
    left: 400px;
>>>>>>> 63ed5bf7b4bb7b010d48fa9830750658b43119a7
}